<app-breadcrumb [showAvatar]="true" [icon]="'group'">
  <div breadcrumb-actions class="col-12 col-sm-auto mt-4 mt-sm-0 pb-5">
    @if (canCreateUser()) {
      <button class="btn btn-primary w-100 w-sm-auto" (click)="router.navigate(['/admin/team/users/new'])">
        <span class="material-symbols-outlined me-2">add</span>
        {{ 'users-list.newUser' | translate }}
      </button>
    }
  </div>
</app-breadcrumb>

<div class="row g-3 mb-4 pb-3">
  @for (kpi of kpiCards(); track kpi.label) {
    <div class="col-12 col-sm-6 col-lg-4 col-xl">
      <lib-kpi-card
        [data]="kpi"
        [loading]="loadingStats()"
      />
    </div>
  }
</div>

<div class="mb-5 pt-2">
  <lib-filter-bar
    [filters]="filters()"
    [sortOptions]="sortOptions()"
    [showSearch]="true"
    [showViewSelector]="true"
    [selectedCount]="-1"
    [useFilterState]="true"
  />
</div>

<div>
  <lib-data-list
    [data]="listManager.items()"
    [columns]="columns()"
    [actions]="actions()"
    [loading]="listManager.loading()"
    [pagination]="listManager.pagination()"
    [currentSort]="listManager.currentSort()"
    [selectable]="false"
    [clickable]="true"
    [emptyStateTitle]="emptyTitle()"
    [emptyStateMessage]="emptyMessage()"
    (pageChange)="listManager.onPageChange($any($event))"
    (sortChange)="listManager.onSortChange($any($event))"
    (actionClick)="onActionClick($any($event))"
    (itemClick)="onRowClick($any($event))"
  />
</div>
