<app-breadcrumb [showAvatar]="true" [icon]="'mail'" [hasMobileActions]="true">
  <div breadcrumb-actions>
    @if (canCreateInvitation()) {
      <button class="btn btn-primary w-100" (click)="openInviteOffcanvas()">
        <span class="material-symbols-outlined me-2">add</span>
        {{ 'invitations-list.invite_member' | translate }}
      </button>
    }
  </div>

  <div breadcrumb-actions-mobile>
    @if (canCreateInvitation()) {
      <button class="btn btn-primary w-100" (click)="openInviteOffcanvas()">
        <span class="material-symbols-outlined me-2">add</span>
        {{ 'invitations-list.invite_member' | translate }}
      </button>
    }
  </div>
</app-breadcrumb>

<div class="row g-3 mb-4 pb-3">
  @for (kpi of kpiCards(); track kpi.label) {
    <div class="col-12 col-sm-6 col-lg-4 col-xl">
      <lib-kpi-card
        [data]="kpi"
        [loading]="loadingStats()"
      />
    </div>
  }
</div>

<div class="mb-5 pt-2">
  <lib-filter-bar
    [filters]="filters()"
    [sortOptions]="sortOptions()"
    [showSearch]="true"
    [selectedCount]="-1"
    [useFilterState]="true"
  />
</div>

<div class="pb-5">
  <lib-data-table
    [data]="listManager.items()"
    [columns]="columns()"
    [actions]="actions()"
    [loading]="listManager.loading()"
    [pagination]="listManager.pagination()"
    [currentSort]="listManager.currentSort()"
    [selectable]="false"
    [clickable]="true"
    [emptyStateTitle]="emptyTitle()"
    [emptyStateMessage]="emptyMessage()"
    (sortChange)="listManager.onSortChange($any($event))"
    (pageChange)="listManager.onPageChange($any($event))"
    (actionClick)="onActionClick($any($event))"
    (rowClick)="onRowClick($any($event))"
  />
</div>

<app-invite-offcanvas />
