

<footer class="footer bg-black pt-0 my-0">
  <div class="container pb-md-2">

    <div class="accordion row pt-4 pt-sm-5 mt-3 mt-sm-0" id="footerLinks">
      <div class="col-md-12 col-lg-5 mb-5 mb-sm-5 mb-md-5">
        <a class="d-inline-flex align-items-center text-dark-emphasis text-decoration-none mb-3" href="../../../../../../index.html">
          <img alt="Soncollab Logo" class="d-block" src="/assets/images/logo/soncollablightlogo.svg" width="160">
        </a>

        <div class="mb-3">
          <select
            id="languageSelect"
            aria-label="Sélectionner la langue"
            class="form-select form-select-lg w-auto d-inline-block"
            [value]="currentLanguage"
            (change)="onLanguageChange($event)">
            @for (language of supportedLanguages; track language.code) {
              <option
                [value]="language.code"
                [selected]="language.code === currentLanguage">
                {{ language.name }}
              </option>
            }
          </select>

        </div>


        <div class="d-flex flex-wrap gap-3 pt-2 pt-md-3">
          <a aria-label="Follow us on YouTube" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://www.youtube.com/@Soncollab">
            <i class="fi-youtube fs-xl"></i>
          </a>

          <a aria-label="Follow us on Instagram" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://www.instagram.com/soncollab_officiel/">
            <i class="fi-instagram fs-xl"></i>
          </a>
          <a aria-label="Follow us on Facebook" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://www.facebook.com/soncollab">
            <i class="fi-facebook fs-xl"></i>
          </a>
          <a aria-label="Follow us on X (Twitter)" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://x.com/soncollab">
            <i class="fi-x fs-xl"></i>
          </a>

          <a aria-label="Follow us on TikTok" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://www.tiktok.com/@soncollab">
            <i class="fi-tiktok fs-xl"></i>
          </a>

          <a aria-label="Follow us on Threads" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://www.threads.com/@soncollab_officiel">
            <i class="bi bi-threads fs-xl"></i>
          </a>

          <a aria-label="Follow us on LinkedIn" class="btn btn-icon btn-lg btn-secondary rounded-circle" href="https://www.linkedin.com/company/soncollab">
            <i class="fi-linkedin fs-xl"></i>
          </a>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-sm-2">
        <div class="accordion-item border-0">
          <h6 class="accordion-header mb-2" id="companyLinksHeading">
            <span class="h5 d-none d-sm-block for-dax-font">
              Entreprise
            </span>
            <button aria-controls="companyLinks" aria-expanded="false"
                    class="accordion-button collapsed py-3 d-sm-none for-dax-font" data-bs-target="#companyLinks" data-bs-toggle="collapse"
                    type="button">
              Entreprise
            </button>
          </h6>
          <div aria-labelledby="companyLinksHeading" class="accordion-collapse collapse d-sm-block mb-sm-3"
               data-bs-parent="#footerLinks" id="companyLinks">
            <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" [routerLink]="['/company/about']">
                  A propos
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                  Carrières
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" [routerLink]="['/company/contact']">
                  Contact
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" [routerLink]="['/company/privacy-policy']">
                  Politique de confidentialité
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" [routerLink]="['/company/use-condition']">
                  Conditions d'utilisation
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" [routerLink]="['/company/anti-fraud-policy']" >Politique
                  antifraude</a>
              </li>
            </ul>
          </div>
          <hr class="d-sm-none my-0">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
        <div class="accordion-item border-0">
          <h6 class="accordion-header" id="resourcesLinksHeading">
            <span class="h5 d-none for-dax-font d-sm-block">
              Ressources
            </span>
            <button aria-controls="resourcesLinks" aria-expanded="false"
                    class="accordion-button collapsed for-dax-font py-3 d-sm-none" data-bs-target="#resourcesLinks" data-bs-toggle="collapse"
                    type="button">
              Ressources
            </button>
          </h6>
          <div aria-labelledby="resourcesLinksHeading" class="accordion-collapse collapse d-sm-block"
               data-bs-parent="#footerLinks" id="resourcesLinks">
            <div class="row row-cols-2">
              <div class="col">
                <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">

                  <li class="pt-1">
                    <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                      Api Documentation
                    </a>
                  </li>

                  <li class="pt-1">
                    <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                      Help Center
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <hr class="d-sm-none my-0">
        </div>
      </div>
    </div>

    <div class="d-md-flex align-items-center py-4 pt-sm-5 mt-3 mt-sm-0">
      <p class="text-body-secondary fs-sm text-center text-md-start mb-0 me-md-4 order-md-1">
        © 2025 Soncollab. Tous droits réservés.
      </p>
    </div>

  </div>
</footer>
