<button class="btn btn-link text-body-secondary p-2 me-2 d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
  <i class="bi bi-list fs-5"></i>
</button>

<h1 class="fs-6 fw-normal mb-0 flex-grow-1 text-body-emphasis">Titre</h1>

<div class="d-flex align-items-center">
  <button class="btn btn-link text-body-secondary p-2 rounded">
    <i class="bi bi-incognito"></i>
  </button>
  <button class="btn btn-link text-body-secondary p-2 rounded">
    <i class="bi bi-files"></i>
  </button>
</div>
