.header-container .btn-link:hover {
  background-color: rgba(var(--fn-body-color-rgb), 0.08) !important;
}

.header-container .btn-link {
  transition: background-color 0.3s ease;
}

.offcanvas .nav-link:not(.active):hover {
  background-color: rgba(var(--fn-body-color-rgb), 0.08) !important;
  color: var(--fn-emphasis-color) !important;
}

.offcanvas .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.offcanvas .submenu-item {
  padding-left: 1rem !important;
  font-size: 0.875rem;
}

.offcanvas .submenu-item .bi-dot {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.offcanvas .submenu-toggle .bi-chevron-down {
  transition: transform 0.2s ease;
}

.offcanvas .submenu-toggle[aria-expanded="true"] .bi-chevron-down {
  transform: rotate(180deg);
}

.offcanvas .submenu-toggle.collapsed .bi-chevron-down {
  transform: rotate(0deg);
}

/* Classe utilitaire globale */
.x-small {
  font-size: 0.75rem;
}


.header-container .dropdown-item {
  transition: all 0.2s ease;
}

.header-container .dropdown-item:hover {
  background-color: rgba(var(--fn-primary-rgb), 0.1);
}

.header-container .dropdown-item.active {
  background-color: var(--fn-primary);
  color: white;
}
