<footer class="footer bg-semi-dark border-top">
  <div class="container pb-md-2">

    <div class="accordion row pt-4 pt-sm-5 mt-3 mt-sm-0" id="footerLinks">
      <div class="col-md-12 col-lg-5 mb-5 mb-sm-5 mb-md-5">
        <a class="d-inline-flex align-items-center text-dark-emphasis text-decoration-none mb-3" href="index.html">
          <img src="/assets/images/logo/soncollablightlogo.svg"  width="160"  alt="Soncollab Logo" class="d-block">
        </a>
        <div class="mb-3">
          <select class="form-select form-select-lg w-auto d-inline-block mt-2" aria-label="Select language">
            <option value="fr" selected>Français</option>
            <option value="en">English</option>
          </select>
        </div>


        <div class="d-flex flex-wrap gap-3 pt-2 pt-md-3">
          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on YouTube">
            <i class="fi-youtube fs-xl"></i>
          </a>

          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on Instagram">
            <i class="fi-instagram fs-xl"></i>
          </a>
          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on Facebook">
            <i class="fi-facebook fs-xl"></i>
          </a>
          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on X (Twitter)">
            <i class="fi-x fs-xl"></i>
          </a>

          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on TikTok">
            <i class="fi-tiktok fs-xl"></i>
          </a>

          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on Threads">
            <i class="bi bi-threads fs-xl"></i>
          </a>

          <a class="btn btn-icon btn-lg btn-secondary rounded-circle" href="#!" aria-label="Follow us on LinkedIn">
            <i class="fi-linkedin fs-xl"></i>
          </a>

        </div>
      </div>
      <!-- Column with links that are turned into accordion on screens < 500px wide (sm breakpoint) -->
      <div class="col-sm-6 col-md-6 col-lg-4 mb-2">
        <div class="accordion-item border-0">
          <h6 class="accordion-header" id="resourcesLinksHeading">
            <span class="h5 d-none d-sm-block">
              Ressources
            </span>
            <button type="button" class="accordion-button collapsed py-3 d-sm-none" data-bs-toggle="collapse" data-bs-target="#resourcesLinks" aria-expanded="false" aria-controls="resourcesLinks">
              Ressources
            </button>
          </h6>
          <div class="accordion-collapse collapse d-sm-block" id="resourcesLinks" aria-labelledby="resourcesLinksHeading" data-bs-parent="#footerLinks">
            <div class="row row-cols-2">
              <div class="col">
                <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">

                  <li class="pt-1">
                    <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                      Api Documentation
                    </a>
                  </li>

                  <li class="pt-1">
                    <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                      Help Center
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <hr class="d-sm-none my-0">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-2 mb-2">
        <div class="accordion-item border-0">
          <h6 class="accordion-header" id="companyLinksHeading">
            <span class="h5 d-none d-sm-block">
              Entreprise
            </span>
            <button type="button" class="accordion-button collapsed py-3 d-sm-none" data-bs-toggle="collapse" data-bs-target="#companyLinks" aria-expanded="false" aria-controls="companyLinks">
              Entreprise
            </button>
          </h6>
          <div class="accordion-collapse collapse d-sm-block" id="companyLinks" aria-labelledby="companyLinksHeading" data-bs-parent="#footerLinks">
            <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                  A propos
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                  Carrières
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                  Contact
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                  Politique de confidentialité
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">
                  Conditions d'utilisation
                </a>
              </li>
              <li class="pt-1">
                <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">Politique antifraude</a>
              </li>
            </ul>
          </div>
          <hr class="d-sm-none my-0">
        </div>
      </div>
    </div>

    <div class="d-md-flex align-items-center py-4 pt-sm-5 mt-3 mt-sm-0">
      <p class="text-body-secondary fs-sm text-center text-md-start mb-0 me-md-4 order-md-1">
        © 2025 Soncollab
      </p>
    </div>

  </div>
</footer>
