.letter-spacing-1 {
  letter-spacing: 0.5px;
}

.transition-all {
  transition: all 0.3s ease;
}

.feature-column {
  position: relative;
}

/* Pas de séparateur entre colonnes */

.feature-item {
  position: relative;
  overflow: hidden;
}


/* Animation d'entrée pour le dropdown */
.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}


.nav-link.dropdown-toggle i {
  transition: transform 0.3s ease;
}

.nav-link.dropdown-toggle:hover i {
  transform: scale(1.1);
}
